Repository VoronDesign/VoronUsers, pull requests merged in 2021-06, with the labels that each got.

#220 Horizontal spool holder
  printer_mods/BladeScraper-Designs/Horizontal-Spool-Holder/Holder.ipt
  printer_mods/BladeScraper-Designs/Horizontal-Spool-Holder/Holder.stl
  printer_mods/BladeScraper-Designs/Horizontal-Spool-Holder/Holder.stp
  printer_mods/BladeScraper-Designs/Horizontal-Spool-Holder/img/Holder-Real.jpg
  printer_mods/BladeScraper-Designs/Horizontal-Spool-Holder/img/Holder-with-spool.jpg
  printer_mods/BladeScraper-Designs/Horizontal-Spool-Holder/img/Holder.png
  printer_mods/BladeScraper-Designs/Horizontal-Spool-Holder/img/Holder_1.png
  printer_mods/BladeScraper-Designs/Horizontal-Spool-Holder/readme.md
  printer_mods/README.md
Labels: CR: Files and Folders, CR: Readme, Duplicate Mod, Stale PR

#335 Raspberry pi zero w bracket
  printer_mods/README.md
  printer_mods/oxno/rbp_zero_braket/README.md
  printer_mods/oxno/rbp_zero_braket/rbp_bracket_back.png
  printer_mods/oxno/rbp_zero_braket/rbp_bracket_front.png
  printer_mods/oxno/rbp_zero_braket/rbp_zero_bracket.stl
Labels: CR: Readme

#337 V0_Handles_Slim
  printer_mods/Ch4rlesB/V0_Handles_Slim/README.md
  printer_mods/Ch4rlesB/V0_Handles_Slim/Screenshot1.png
  printer_mods/Ch4rlesB/V0_Handles_Slim/Screenshot2.png
  printer_mods/Ch4rlesB/V0_Handles_Slim/Screenshot3.png
  printer_mods/Ch4rlesB/V0_Handles_Slim/V0_Handles_Slim_2.5_Panel_x2.stl
  printer_mods/Ch4rlesB/V0_Handles_Slim/V0_Handles_Slim_3_Panel_x2.stl
  printer_mods/README.md
Labels: CR: Files and Folders, CR: Printability

#338 Add BTT PITFT50 v2 Touch Display Mount
  printer_mods/README.md
  printer_mods/alanho/BTT_PITFT50_v2_Mount/README.md
  printer_mods/alanho/BTT_PITFT50_v2_Mount/STLs/BTT-PITFT50-v2-Mount.stl
  printer_mods/alanho/BTT_PITFT50_v2_Mount/images/IMG_6447.jpg
  printer_mods/alanho/BTT_PITFT50_v2_Mount/images/IMG_6451.jpg
  printer_mods/alanho/BTT_PITFT50_v2_Mount/images/f360.jpg
Labels: CR: Printability, Pending Question

#339 Ender 3 Switchwire Conversion Y Tensioner Mod
  printer_mods/README.md
  printer_mods/buzzdalf/ytension/CAD/y_tension.f3d
  printer_mods/buzzdalf/ytension/IMAGES/assembled.jpg
  printer_mods/buzzdalf/ytension/IMAGES/installed.jpg
  printer_mods/buzzdalf/ytension/IMAGES/parts.jpg
  printer_mods/buzzdalf/ytension/IMAGES/stack.jpg
  printer_mods/buzzdalf/ytension/README.md
  printer_mods/buzzdalf/ytension/STL/HEATSET.stl
  printer_mods/buzzdalf/ytension/STL/hexnut.stl
  printer_mods/buzzdalf/ytension/STL/insert.stl
  printer_mods/buzzdalf/ytension/STL/shell.stl
Labels: CR: Printability

#332 Added a strain relief that mounts a 10 pin micro fit connector on the hotend.
  printer_mods/LoCoCNC/Strain_Relief_w_Microfit/Images/pic1.JPG
  printer_mods/LoCoCNC/Strain_Relief_w_Microfit/Images/pic2.JPG
  printer_mods/LoCoCNC/Strain_Relief_w_Microfit/Images/pic3.JPG
  printer_mods/LoCoCNC/Strain_Relief_w_Microfit/Images/remove.JPG
  printer_mods/LoCoCNC/Strain_Relief_w_Microfit/Strain_Relief_Body_MF10_x1.stl
  printer_mods/LoCoCNC/Strain_Relief_w_Microfit/readme.md
  printer_mods/README.md
Labels: CR: Printability

#347 Afterburner Triple bowden and Spider Mount for 2020/3030 extrusions
  printer_mods/DoubleT/afterburner_triple_bowden/CAD/Bowden_Triple_Adapter.f3d
  printer_mods/DoubleT/afterburner_triple_bowden/STLs/Bowden_Triple_Adapter_front_a.stl
  printer_mods/DoubleT/afterburner_triple_bowden/STLs/Bowden_Triple_Adapter_front_b.stl
  printer_mods/DoubleT/afterburner_triple_bowden/STLs/Bowden_Triple_Adapter_generic.stl
  printer_mods/DoubleT/afterburner_triple_bowden/STLs/Bowden_Triple_Adapter_igus.stl
  printer_mods/DoubleT/afterburner_triple_bowden/images/image1.png
  printer_mods/DoubleT/afterburner_triple_bowden/images/image2.png
  printer_mods/DoubleT/afterburner_triple_bowden/images/image3.png
  printer_mods/DoubleT/afterburner_triple_bowden/readme.md
  printer_mods/DoubleT/fysetc_spider_mount_extrusion/CAD/SpiderMount.f3d
  printer_mods/DoubleT/fysetc_spider_mount_extrusion/STLs/spider_mount.stl
  printer_mods/DoubleT/fysetc_spider_mount_extrusion/images/image1.png
  printer_mods/DoubleT/fysetc_spider_mount_extrusion/images/image2.png
  printer_mods/DoubleT/fysetc_spider_mount_extrusion/images/image3.png
  printer_mods/DoubleT/fysetc_spider_mount_extrusion/readme.md
  printer_mods/README.md
Labels: CR: Files and Folders, CR: STL Rotation

#346 Voron 0.1 mounting brackets with/without RPi 4 for Duet 2 WiFi boards
  printer_mods/DaGlo/Voron_V0_Duet_2_WiFi_Mounting_Brackets/Duet2WifiMountingBracket.jpg
  printer_mods/DaGlo/Voron_V0_Duet_2_WiFi_Mounting_Brackets/Duet2Wifi_Mounting_Bracket.stl
  printer_mods/DaGlo/Voron_V0_Duet_2_WiFi_Mounting_Brackets/Duet2Wifi_Mounting_Bracket_with_RPi.stl
  printer_mods/DaGlo/Voron_V0_Duet_2_WiFi_Mounting_Brackets/README.md
  printer_mods/DaGlo/Voron_V0_Duet_2_WiFi_Mounting_Brackets/Voron_V0_Duet_2_Wifi_Bracket_v14.png
  printer_mods/DaGlo/Voron_V0_Duet_2_WiFi_Mounting_Brackets/Voron_V0_Duet_2_Wifi_Bracket_with_RPi_v14.png
  printer_mods/README.md
Labels: CR: Readme

#348 Lower deck panel support clips
  printer_mods/README.md
  printer_mods/wile-e1/Deck_Panel_Support_Clips/deck_clip_adjustable.png
  printer_mods/wile-e1/Deck_Panel_Support_Clips/deck_clip_bottom.png
  printer_mods/wile-e1/Deck_Panel_Support_Clips/deck_clip_side.png
  printer_mods/wile-e1/Deck_Panel_Support_Clips/deck_clip_top.png
  printer_mods/wile-e1/Deck_Panel_Support_Clips/readme.md
  printer_mods/wile-e1/Deck_Panel_Support_Clips/wile.e-deck_panel_support_lower_4mm.stl
  printer_mods/wile-e1/Deck_Panel_Support_Clips/wile.e-deck_panel_support_lower_4mm.stp
  printer_mods/wile-e1/Deck_Panel_Support_Clips/wile.e-deck_panel_support_lower_adjustable(3-6mm).stl
  printer_mods/wile-e1/Deck_Panel_Support_Clips/wile.e-deck_panel_support_lower_adjustable(3-6mm).stp
  printer_mods/wile-e1/Deck_Panel_Support_Clips/wile.e-deck_panel_support_upper.stl
  printer_mods/wile-e1/Deck_Panel_Support_Clips/wile.e-deck_panel_support_upper.stp
Labels: CR: Readme

#352 Added a SSR strap for Voron V0's
  printer_mods/LoCoCNC/ssr_strap/SSR_STRAP.stl
  printer_mods/LoCoCNC/ssr_strap/readme.md
  printer_mods/LoCoCNC/ssr_strap/ssr_strap.JPG
  printer_mods/LoCoCNC/ssr_strap/ssr_strap2.JPG
  printer_mods/README.md
Labels: CR: Readme

#363 TFT Display for Switchwire + Afterburner mount for Input shaper (also works for Y on SW)
  printer_mods/DoubleT/input_shaper_mount/CAD/input_shaper_mount.f3d
  printer_mods/DoubleT/input_shaper_mount/STLs/Input_Shaper_rev5.stl
  printer_mods/DoubleT/input_shaper_mount/images/image1.png
  printer_mods/DoubleT/input_shaper_mount/readme.md
  printer_mods/DoubleT/switchwire_tft_display/CAD/switchwire_tft_display_mount.f3d
  printer_mods/DoubleT/switchwire_tft_display/STLs/Display_Body.stl
  printer_mods/DoubleT/switchwire_tft_display/STLs/Display_Front_Plate.stl
  printer_mods/DoubleT/switchwire_tft_display/images/image1.png
  printer_mods/DoubleT/switchwire_tft_display/images/image2.png
  printer_mods/DoubleT/switchwire_tft_display/readme.md
  printer_mods/README.md
Labels: CR: Files and Folders, CR: Readme, Pending Question

#358 Update C920s README
  printer_mods/Iakabos/C920_mount/README.md
Labels: CR: Readme, Pending Question

#356 Handles slim v2
  printer_mods/Ch4rlesB/V0_Handles_Slim/README.md
  printer_mods/Ch4rlesB/V0_Handles_Slim/V0_Handles_Slim_2.5_Panel_x2.stl
  printer_mods/Ch4rlesB/V0_Handles_Slim/V0_Handles_Slim_3_Panel_x2.stl
Labels: Pending Question

#361 add spider_bracket.stl
  printer_mods/README.md
  printer_mods/geoffreyyoung/README.md
  printer_mods/geoffreyyoung/spider_bracket/README.md
  printer_mods/geoffreyyoung/spider_bracket/STLs/spider_bracket.stl
  printer_mods/geoffreyyoung/spider_bracket/images/spider_bracket.png
Labels: CR: Readme

#366 Alternate power inlet housing for V0 (Astrodyne 082S or 082SM)
  printer_mods/README.md
  printer_mods/wrez/astrodyne-inlet/CAD/power-inlet-astrodyne.f3d
  printer_mods/wrez/astrodyne-inlet/CAD/power-inlet-astrodyne.step
  printer_mods/wrez/astrodyne-inlet/README.md
  printer_mods/wrez/astrodyne-inlet/STLs/astrodyne-inlet.stl
  printer_mods/wrez/astrodyne-inlet/images/disassembled.jpg
  printer_mods/wrez/astrodyne-inlet/images/front-view.jpg
  printer_mods/wrez/astrodyne-inlet/images/in-situ.jpg
  printer_mods/wrez/astrodyne-inlet/images/power-inlet-astrodyne.png
  printer_mods/wrez/astrodyne-inlet/images/rear-view.jpg
Labels: CR: Readme
