Repository VoronDesign/VoronUsers, pull requests merged in 2021-10, with the labels that each got.

#455 Switchwire feed slot with pass-through
  printer_mods/Jasrags/sw_fee_slot_filament_passthrough/CAD/Feed_Slot_v7.f3d
  printer_mods/Jasrags/sw_fee_slot_filament_passthrough/CAD/Feed_Slot_v7.step
  printer_mods/Jasrags/sw_fee_slot_filament_passthrough/README.md
  printer_mods/Jasrags/sw_fee_slot_filament_passthrough/STL/feed_slot.stl
  printer_mods/Jasrags/sw_fee_slot_filament_passthrough/STL/feed_slot_clamp_x2.stl
  printer_mods/Jasrags/sw_fee_slot_filament_passthrough/images/CAD_bottom_profile.png
  printer_mods/Jasrags/sw_fee_slot_filament_passthrough/images/CAD_front_profile.png
  printer_mods/Jasrags/sw_fee_slot_filament_passthrough/images/CAD_offset_profile.png
  printer_mods/Jasrags/sw_fee_slot_filament_passthrough/images/CAD_side_profile.png
  printer_mods/Jasrags/sw_fee_slot_filament_passthrough/images/Mounted_1.png
  printer_mods/Jasrags/sw_fee_slot_filament_passthrough/images/Mounted_2.png
  printer_mods/README.md
Labels: CR: Files and Folders, CR: Readme, CR: Printability

#468 Added Fly-Super8 motherboard for klipper configuration of voron2.4
  firmware_configurations/README.md
  firmware_configurations/klipper/Mellow/FLY-Super8/FLY-Super8-Voron2.4(Klipper).cfg
  firmware_configurations/klipper/Mellow/FLY-Super8/pins.jpg
  firmware_configurations/klipper/Mellow/FLY-Super8/readme.md
  firmware_configurations/klipper/Mellow/FLY-Super8/voron2.4-ZH_cn.jpg
Labels: CR: Readme

#460 Richardjm/adxl chain
  printer_mods/README.md
  printer_mods/richardjm/adxl-chain/CAD/ADXL345-Carriage-v28.f3d
  printer_mods/richardjm/adxl-chain/CAD/ADXL345-Carriage-v32-Adafruit.f3d
  printer_mods/richardjm/adxl-chain/Images/CAD-Adafruit.png
  printer_mods/richardjm/adxl-chain/Images/CAD.png
  printer_mods/richardjm/adxl-chain/Images/Clearance.jpg
  printer_mods/richardjm/adxl-chain/Images/TheDamage.jpg
  printer_mods/richardjm/adxl-chain/README.md
  printer_mods/richardjm/adxl-chain/STL/ChainAnchor-Generic-ADXL345-Adafruit.stl
  printer_mods/richardjm/adxl-chain/STL/ChainAnchor-Generic-ADXL345.stl
  printer_mods/richardjm/adxl-chain/STL/ChainAnchor-IGUS-ADXL345-Adafruit.stl
  printer_mods/richardjm/adxl-chain/STL/ChainAnchor-IGUS-ADXL345.stl
Labels: CR: Printability

#475 V2.4 Exhaust Housing for 120mm Fan and 4in Duct
  printer_mods/README.md
  printer_mods/hergtoler/exhaust_120mm_duct/README.md
  printer_mods/hergtoler/exhaust_120mm_duct/STL/adapter_120mm_to_duct.stl
  printer_mods/hergtoler/exhaust_120mm_duct/STL/bowden_adapter_panel_mount.stl
  printer_mods/hergtoler/exhaust_120mm_duct/STL/exhaust_120mm_fan_mount.stl
  printer_mods/hergtoler/exhaust_120mm_duct/STL/exhaust_housing.stl
  printer_mods/hergtoler/exhaust_120mm_duct/images/exhaust_120mm_assembly.png
  printer_mods/hergtoler/exhaust_120mm_duct/images/exhaust_120mm_installed.jpg
  printer_mods/hergtoler/exhaust_120mm_duct/images/fan_mount_inserts.png
  printer_mods/hergtoler/exhaust_120mm_duct/images/housing_inserts.png
  printer_mods/hergtoler/exhaust_120mm_duct/images/step1.png
  printer_mods/hergtoler/exhaust_120mm_duct/images/step2.png
  printer_mods/hergtoler/exhaust_120mm_duct/images/step3.png
  printer_mods/hergtoler/exhaust_120mm_duct/images/step4.png
  printer_mods/hergtoler/exhaust_120mm_duct/images/step5.png
  printer_mods/hergtoler/exhaust_120mm_duct/images/step6.png
Labels: CR: Printability
