Repository VoronDesign/VoronUsers, pull requests merged in 2021-09, with the labels that each got.

#422 Parametric Spool Holder
  printer_mods/README.md
  printer_mods/henrikssn/parametric_spool_holder/Parametric_Spool_Holder_v4.f3d
  printer_mods/henrikssn/parametric_spool_holder/README.md
  printer_mods/henrikssn/parametric_spool_holder/SpoolHolder_100mm.stl
  printer_mods/henrikssn/parametric_spool_holder/SpoolHolder_105mm.stl
  printer_mods/henrikssn/parametric_spool_holder/SpoolHolder_110mm.stl
  printer_mods/henrikssn/parametric_spool_holder/SpoolHolder_70mm.stl
  printer_mods/henrikssn/parametric_spool_holder/SpoolHolder_80mm.stl
  printer_mods/henrikssn/parametric_spool_holder/SpoolHolder_90mm.stl
Labels: CR: Readme

#418 Mathematical potato
  printer_mods/MathematicalPotato/v0.1_belted_z_drive/STL/Kirigami_Bed_Mount/V0-ZBelt-KirigamiBed_belt_mount.stl
  printer_mods/MathematicalPotato/v0.1_belted_z_drive/STL/Kirigami_Bed_Mount/V0-ZBelt-KirigamiBed_bottom_belt_clip.stl
  printer_mods/MathematicalPotato/v0.1_belted_z_drive/STL/Kirigami_Bed_Mount/V0-ZBelt-KirigamiBed_top_belt_clip.stl
Labels: CR: Files and Folders, CR: Git issues

#428 Filament Runout Sensor
  printer_mods/README.md
  printer_mods/bobbleheed/Filament_Runout/CAD/Filament_Runout_Housing.f3d
  printer_mods/bobbleheed/Filament_Runout/IMAGES/Assembled.png
  printer_mods/bobbleheed/Filament_Runout/IMAGES/Internal_Assembly.png
  printer_mods/bobbleheed/Filament_Runout/IMAGES/Switch_Cross_Section.png
  printer_mods/bobbleheed/Filament_Runout/README.md
  printer_mods/bobbleheed/Filament_Runout/STL/Cover.stl
  printer_mods/bobbleheed/Filament_Runout/STL/LH_Filament_Runout_Housing.stl
  printer_mods/bobbleheed/Filament_Runout/STL/RH_Filament_Runout_Housing.stl
  printer_mods/bobbleheed/Filament_Runout/filament_runout.cfg
Labels: CR: Readme

#391 Tophat Hinge for V0
  printer_mods/MSiemons/TophatHingeV0.1/Hinge_panel_left_2.5mm.stl
  printer_mods/MSiemons/TophatHingeV0.1/Hinge_panel_left_2mm.stl
  printer_mods/MSiemons/TophatHingeV0.1/Hinge_panel_left_3mm.stl
  printer_mods/MSiemons/TophatHingeV0.1/Hinge_panel_right_2.5mm.stl
  printer_mods/MSiemons/TophatHingeV0.1/Hinge_panel_right_2mm.stl
  printer_mods/MSiemons/TophatHingeV0.1/Hinge_panel_right_3mm.stl
  printer_mods/MSiemons/TophatHingeV0.1/Images/TopHathinge_render.png
  printer_mods/MSiemons/TophatHingeV0.1/Images/TopHathinge_render2.png
  printer_mods/MSiemons/TophatHingeV0.1/Images/Tophat_closed.jpg
  printer_mods/MSiemons/TophatHingeV0.1/Images/Tophat_open.jpg
  printer_mods/MSiemons/TophatHingeV0.1/Images/Zoom_closed.jpg
  printer_mods/MSiemons/TophatHingeV0.1/Images/Zoom_open.jpg
  printer_mods/MSiemons/TophatHingeV0.1/Lower_Corner_adapted_1_and_3_Clip_x2.stl
  printer_mods/MSiemons/TophatHingeV0.1/Lower_Corner_adapted_2_and_4_Clip_x2.stl
  printer_mods/MSiemons/TophatHingeV0.1/STEPfiles/Hinge_panel_left.step
  printer_mods/MSiemons/TophatHingeV0.1/STEPfiles/Hinge_panel_right.step
  printer_mods/MSiemons/TophatHingeV0.1/STEPfiles/Tophat_Part_back_left.step
  printer_mods/MSiemons/TophatHingeV0.1/STEPfiles/Tophat_Part_back_right.step
  printer_mods/MSiemons/TophatHingeV0.1/Tophat_Part_back_left.stl
  printer_mods/MSiemons/TophatHingeV0.1/Tophat_Part_back_right.stl
  printer_mods/MSiemons/TophatHingeV0.1/readme.md
  printer_mods/README.md
Labels: CR: Files and Folders, CR: Readme, CR: Printability

#384 V0.1 Block Style Handle
  printer_mods/Derpimus/Block_handle_v0.1/README.md
  printer_mods/Derpimus/Block_handle_v0.1/block_handlev0.1.stl
  printer_mods/Derpimus/Block_handle_v0.1/images/125217883-bf24e900-e28f-11eb-97ca-68b314f65b5d.jpg
  printer_mods/Derpimus/Block_handle_v0.1/images/125217901-c4823380-e28f-11eb-9288-839585f50953.jpg
  printer_mods/README.md
Labels: CR: Printability

#443 Add LED Light Clip to VoronUsers
  printer_mods/README.md
  printer_mods/eddie/LED_Bar_Clip/LED_Bar_Clip_Misumi_version2.f3d
  printer_mods/eddie/LED_Bar_Clip/LED_Bar_Clip_Misumi_version2.step
  printer_mods/eddie/LED_Bar_Clip/LED_Bar_Clip_Misumi_version2.stl
  printer_mods/eddie/LED_Bar_Clip/Readme.md
Labels: CR: Files and Folders

#425 Huvud Chain Mount
  printer_mods/120decibell/huvud_chain_mount/README.md
  printer_mods/120decibell/huvud_chain_mount/STL/huvud_chain_mount.stl
  printer_mods/120decibell/huvud_chain_mount/images/huvud_chain_mount.png
  printer_mods/120decibell/huvud_chain_mount/images/huvud_mount_install1.png
  printer_mods/120decibell/huvud_chain_mount/images/huvud_mount_install2.png
  printer_mods/README.md
Labels: CR: Readme

#437 Voron Switchwire_Y_Belt_Tensioner
  printer_mods/Mckurt/Switchwire_Y_Belt_Tensioner/Cad/SW_Y_Belt_Tensioner.stp
  printer_mods/Mckurt/Switchwire_Y_Belt_Tensioner/Images/1.jpg
  printer_mods/Mckurt/Switchwire_Y_Belt_Tensioner/Images/2.jpg
  printer_mods/Mckurt/Switchwire_Y_Belt_Tensioner/Images/3.jpg
  printer_mods/Mckurt/Switchwire_Y_Belt_Tensioner/Images/4.jpg
  printer_mods/Mckurt/Switchwire_Y_Belt_Tensioner/Images/5.jpg
  printer_mods/Mckurt/Switchwire_Y_Belt_Tensioner/Images/6.jpg
  printer_mods/Mckurt/Switchwire_Y_Belt_Tensioner/Images/7.jpg
  printer_mods/Mckurt/Switchwire_Y_Belt_Tensioner/Images/asembly.png
  printer_mods/Mckurt/Switchwire_Y_Belt_Tensioner/Images/mod.png
  printer_mods/Mckurt/Switchwire_Y_Belt_Tensioner/Readme.md
  printer_mods/Mckurt/Switchwire_Y_Belt_Tensioner/Stl/SW_Tensioner_Bearing_Block.stl
  printer_mods/Mckurt/Switchwire_Y_Belt_Tensioner/Stl/SW_Tensioner_Body.stl
  printer_mods/Mckurt/Switchwire_Y_Belt_Tensioner/Stl/SW_Tensioner_Cap.stl
  printer_mods/README.md
Labels: CR: Readme

#440 adxl345_skirt_keystone mod
  printer_mods/Jon/adxl345_skirt_keystone/IMG/skirt.keystone.adxl345.jpg
  printer_mods/Jon/adxl345_skirt_keystone/README.md
  printer_mods/Jon/adxl345_skirt_keystone/STL/ADXL345.connector.keystone.x1.stl
  printer_mods/Jon/adxl345_skirt_keystone/STL/[a]ADXL345.text.keystone.x1.stl
  printer_mods/Jon/adxl345_skirt_keystone/STL/lock.x2.stl
  printer_mods/README.md
Labels: CR: Readme, CR: STL Issues
