Repository VoronDesign/VoronUsers, pull requests merged in 2021-05, with the labels that each got.

#287 DIN rail brackets for 2-channel relay and ESP32
  printer_mods/ByteChild/2_Channel_Relay_DIN_Rail_Bracket/Readme.md
  printer_mods/ByteChild/2_Channel_Relay_DIN_Rail_Bracket/Relay_Bracket.stl
  printer_mods/ByteChild/2_Channel_Relay_DIN_Rail_Bracket/relay_bracket.step
  printer_mods/ByteChild/2_Channel_Relay_DIN_Rail_Bracket/relay_bracket_1.jpg
  printer_mods/ByteChild/2_Channel_Relay_DIN_Rail_Bracket/relay_bracket_2.jpg
  printer_mods/ByteChild/ESP32_DIN_Rail_Bracket/ESP32_Bracket.stl
  printer_mods/ByteChild/ESP32_DIN_Rail_Bracket/ESP32_bracket.step
  printer_mods/ByteChild/ESP32_DIN_Rail_Bracket/Readme.md
  printer_mods/ByteChild/ESP32_DIN_Rail_Bracket/esp32_bracket.jpg
  printer_mods/README.md
Labels: CR: Files and Folders

#286 Tircown's repository and mods.
  printer_mods/README.md
  printer_mods/Tircown/DIN_mount_RS-15-5/DIN_Meanwell_RS-15-5_psu.stl
  printer_mods/Tircown/DIN_mount_RS-15-5/README.md
  printer_mods/Tircown/Display_mount_5inch/Images/Capture.JPG
  printer_mods/Tircown/Display_mount_5inch/Images/image0.jpg
  printer_mods/Tircown/Display_mount_5inch/Images/image1.jpg
  printer_mods/Tircown/Display_mount_5inch/Images/image3.jpg
  printer_mods/Tircown/Display_mount_5inch/README.md
  printer_mods/Tircown/Display_mount_5inch/display5inch_arm_a.stl
  printer_mods/Tircown/Display_mount_5inch/display5inch_arm_b.stl
  printer_mods/Tircown/Display_mount_5inch/display5inch_case.stl
  printer_mods/Tircown/Display_mount_5inch/display5inch_case_moretolerance.stl
  printer_mods/Tircown/Display_mount_5inch/display5inch_front_rear_skirt_a_250.stl
  printer_mods/Tircown/Display_mount_5inch/display5inch_front_rear_skirt_a_300.stl
  printer_mods/Tircown/Display_mount_5inch/display5inch_front_rear_skirt_a_350.stl
  printer_mods/Tircown/Display_mount_5inch/display5inch_front_rear_skirt_b_250.stl
  printer_mods/Tircown/Display_mount_5inch/display5inch_front_rear_skirt_b_300.stl
  printer_mods/Tircown/Display_mount_5inch/display5inch_front_rear_skirt_b_350.stl
  printer_mods/Tircown/Display_mount_5inch/display5inch_optional_microsd_holder.stl
  printer_mods/Tircown/Display_mount_5inch/display5inch_optional_sd_holder.stl
  printer_mods/Tircown/Display_mount_5inch/display5inch_slide_x2.stl
  printer_mods/Tircown/Raspberry_plug_panel/Images/image0.jpg
  printer_mods/Tircown/Raspberry_plug_panel/Images/image1.jpg
  printer_mods/Tircown/Raspberry_plug_panel/Images/image2.jpg
  printer_mods/Tircown/Raspberry_plug_panel/plug_panel_raspberry_bracket.stl
  printer_mods/Tircown/Raspberry_plug_panel/plug_panel_with_raspberry_DD11.stl
  printer_mods/Tircown/Raspberry_plug_panel/plug_panel_with_raspberry_filtered_rocker.stl
  printer_mods/Tircown/Raspberry_plug_panel/plug_panel_with_raspberry_unfiltered.stl
  printer_mods/Tircown/Raspberry_plug_panel/readme.md
Labels: CR: Readme, CR: STL Issues

#295 V0 Exhaust and LED Light
  printer_mods/README.md
  printer_mods/See1807/Voron_V0_Exhaust_and_LED_Mod/CAD/Tophead_Mod_V0_v4.f3d
  printer_mods/See1807/Voron_V0_Exhaust_and_LED_Mod/README.md
  printer_mods/See1807/Voron_V0_Exhaust_and_LED_Mod/STL/Exhaust/Exhaust_with_Holes.stl
  printer_mods/See1807/Voron_V0_Exhaust_and_LED_Mod/STL/Exhaust/Exhaust_without_Holes.stl
  printer_mods/See1807/Voron_V0_Exhaust_and_LED_Mod/STL/Exhaust/[a]Exhaust_Cover.stl
  printer_mods/See1807/Voron_V0_Exhaust_and_LED_Mod/STL/LED_Light/LED_Carrier.stl
  printer_mods/See1807/Voron_V0_Exhaust_and_LED_Mod/STL/LED_Light/LED_Carrier_mirror.stl
  printer_mods/See1807/Voron_V0_Exhaust_and_LED_Mod/STL/LED_Light/[a]_LED_Cover_2x.stl
  printer_mods/See1807/Voron_V0_Exhaust_and_LED_Mod/STL/LED_Light/[a]_LED_Mountigplatte_2x.stl
  printer_mods/See1807/Voron_V0_Exhaust_and_LED_Mod/STL/Skirt_12mm_switch.stl
  printer_mods/See1807/Voron_V0_Exhaust_and_LED_Mod/img/Foto_1.jpg
  printer_mods/See1807/Voron_V0_Exhaust_and_LED_Mod/img/Foto_2.jpg
  printer_mods/See1807/Voron_V0_Exhaust_and_LED_Mod/img/Konstruktion_1.PNG
  printer_mods/See1807/Voron_V0_Exhaust_and_LED_Mod/img/Konstruktion_2.PNG
  printer_mods/See1807/Voron_V0_Exhaust_and_LED_Mod/img/Konstruktion_3.PNG
  printer_mods/See1807/Voron_V0_Exhaust_and_LED_Mod/img/LED_Light_1.PNG
  printer_mods/See1807/Voron_V0_Exhaust_and_LED_Mod/img/LED_Light_2.PNG
  printer_mods/See1807/Voron_V0_Exhaust_and_LED_Mod/img/LED_Light_3.PNG
  printer_mods/See1807/Voron_V0_Exhaust_and_LED_Mod/img/LED_Light_4.PNG
  printer_mods/See1807/Voron_V0_Exhaust_and_LED_Mod/img/LED_Light_5.PNG
Labels: CR: Files and Folders, CR: Readme, Pending Question

#299 Single panel magnet
  printer_mods/README.md
  printer_mods/xceled/Single_Panel_Magnet_Mount/Images/CoverMagnetMount.png
  printer_mods/xceled/Single_Panel_Magnet_Mount/Images/RailMagnetMount.png
  printer_mods/xceled/Single_Panel_Magnet_Mount/MagnetFrontPanel.f3d
  printer_mods/xceled/Single_Panel_Magnet_Mount/MagnetFrontPanel.step
  printer_mods/xceled/Single_Panel_Magnet_Mount/README.md
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/250/PanelCoverBL.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/250/PanelCoverBR.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/250/PanelCoverTL.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/250/PanelCoverTR.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/250/SlotBL.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/250/SlotBR.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/250/SlotTL.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/250/SlotTR.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/250/TLDrillGuide.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/250/TRDrillGuide.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/300/PanelCoverBL.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/300/PanelCoverBR.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/300/PanelCoverTL.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/300/PanelCoverTR.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/300/SlotBL.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/300/SlotBR.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/300/SlotTL.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/300/SlotTR.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/300/TLDrillGuide.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/300/TRDrillGuide.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/350/PanelCoverBL.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/350/PanelCoverBR.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/350/PanelCoverTL.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/350/PanelCoverTR.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/350/SlotBL.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/350/SlotBR.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/350/SlotTL.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/350/SlotTR.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/350/TLDrillGuide.stl
  printer_mods/xceled/Single_Panel_Magnet_Mount/STL/350/TRDrillGuide.stl
Labels: CR: Files and Folders, CR: Printability

#293 Add Mod Removable doors
  printer_mods/ElPoPo/RemovableDoors/Images/Charniere_Ar.jpg
  printer_mods/ElPoPo/RemovableDoors/Images/Charniere_Av.jpg
  printer_mods/ElPoPo/RemovableDoors/Images/MMU.jpg
  printer_mods/ElPoPo/RemovableDoors/Readme.md
  printer_mods/ElPoPo/RemovableDoors/STL/Backplate_x4.stl
  printer_mods/ElPoPo/RemovableDoors/STL/Hinge_x4.stl
  printer_mods/ElPoPo/RemovableDoors/STL/Left_Leaf_VHB_With_Accent_x2.stl
  printer_mods/ElPoPo/RemovableDoors/STL/Left_Leaf_VHB_x2.stl
  printer_mods/ElPoPo/RemovableDoors/STL/Left_Leaf_With_Accent_x2.stl
  printer_mods/ElPoPo/RemovableDoors/STL/Left_Leaf_x2.stl
  printer_mods/ElPoPo/RemovableDoors/STL/Right_Leaf_VHB_With_Accent_x2.stl
  printer_mods/ElPoPo/RemovableDoors/STL/Right_Leaf_VHB_x2.stl
  printer_mods/ElPoPo/RemovableDoors/STL/Right_Leaf_With_Accent_x2.stl
  printer_mods/ElPoPo/RemovableDoors/STL/Right_Leaf_x2.stl
  printer_mods/ElPoPo/RemovableDoors/STL/latch_x2.stl
  printer_mods/ElPoPo/RemovableDoors/STL/mod_5x3_handle_a_small.stl
  printer_mods/ElPoPo/RemovableDoors/STL/mod_6x3_handle_a_small.stl
  printer_mods/README.md
Labels: CR: Files and Folders

#303 Add mounts that use metal DIN clips
  printer_mods/Oakman/BTT_24V_UPS_Metal_DIN_Mount/BTT_UPS_24V_DIN.jpeg
  printer_mods/Oakman/BTT_24V_UPS_Metal_DIN_Mount/BTT_UPS_24V_DIN.stl
  printer_mods/Oakman/BTT_24V_UPS_Metal_DIN_Mount/Readme.md
  printer_mods/Oakman/FYSETC_Spider_Metal_DIN_Mount/Angry_Starfish.stl
  printer_mods/Oakman/FYSETC_Spider_Metal_DIN_Mount/Angry_Starfish_Spider_metal_din.png
  printer_mods/Oakman/FYSETC_Spider_Metal_DIN_Mount/Readme.md
  printer_mods/Oakman/FYSETC_Spider_Metal_DIN_Mount/YASDM.stl
  printer_mods/Oakman/FYSETC_Spider_Metal_DIN_Mount/YASDM_metal_din.jpg
  printer_mods/Oakman/README.md
  printer_mods/Oakman/RPI_Metal_DIN_Mount/RPI_Metal_DIN_Mount.stl
  printer_mods/Oakman/RPI_Metal_DIN_Mount/Readme.md
  printer_mods/README.md
Labels: CR: Readme

#308 Galileo adxl356 chain mount
  printer_mods/README.md
  printer_mods/leandromarceddu/GalileoADXL/README.md
  printer_mods/leandromarceddu/GalileoADXL/galileo_achor_alichain_adxl.stl
  printer_mods/leandromarceddu/GalileoADXL/galileo_achor_igus_adxl.stl
  printer_mods/leandromarceddu/GalileoADXL/img/adxl_layout.jpg
  printer_mods/leandromarceddu/GalileoADXL/img/perm_mount.jpg
Labels: CR: Readme

#285 Mounts for Terminal_Blocks NC933 SPL-62
  printer_mods/Empusas/Terminal_Blocks_NC933_SPL-62/IMG_2333.png
  printer_mods/Empusas/Terminal_Blocks_NC933_SPL-62/IMG_2334.png
  printer_mods/Empusas/Terminal_Blocks_NC933_SPL-62/IMG_2335.png
  printer_mods/Empusas/Terminal_Blocks_NC933_SPL-62/NC-933_Clip.stl
  printer_mods/Empusas/Terminal_Blocks_NC933_SPL-62/README.md
  printer_mods/Empusas/Terminal_Blocks_NC933_SPL-62/SPL-62_Clip.stl
  printer_mods/README.md
Labels: CR: Readme

#284 New LED mount, exhaust filter housing and panel clip
  printer_mods/42bios/LED_mount/AngryLED_l_v1.stl
  printer_mods/42bios/LED_mount/AngryLED_r_v1.stl
  printer_mods/42bios/LED_mount/AngryLED_small_l_v1.stl
  printer_mods/42bios/LED_mount/AngryLED_small_r_v1.stl
  printer_mods/42bios/LED_mount/AngryLED_small_v1.png
  printer_mods/42bios/LED_mount/AngryLED_v1_1.png
  printer_mods/42bios/LED_mount/AngryLED_v1_2.png
  printer_mods/42bios/LED_mount/AngryLED_v1_3.png
  printer_mods/42bios/LED_mount/LED_mount_l_v01.stl
  printer_mods/42bios/LED_mount/LED_mount_r_v01.stl
  printer_mods/42bios/LED_mount/README.md
  printer_mods/42bios/LED_mount/led_mount_v01_1.png
  printer_mods/42bios/LED_mount/led_mount_v01_2.png
  printer_mods/42bios/corner_panel_clip_cable/README.md
  printer_mods/42bios/corner_panel_clip_cable/corner_panel_clip_7_5mm.stl
  printer_mods/42bios/corner_panel_clip_cable/corner_panel_clip_bottom_3_5mm.stl
  printer_mods/42bios/corner_panel_clip_cable/corner_panel_clip_cp.gif
  printer_mods/42bios/corner_panel_clip_cable/corner_panel_clip_cp.png
  printer_mods/42bios/corner_panel_clip_cable/corner_panel_clip_cp2.png
  printer_mods/42bios/corner_panel_clip_cable/corner_panel_clip_top_4mm.stl
  printer_mods/42bios/corner_panel_clip_cable/midspan_panel_clip_7_5mm.stl
  printer_mods/42bios/exhaust_filter_housing_side/README.md
  printer_mods/42bios/exhaust_filter_housing_side/efh_s_1.png
  printer_mods/42bios/exhaust_filter_housing_side/efh_s_2.png
  printer_mods/42bios/exhaust_filter_housing_side/exhaust_filter_housing_side.stl
  printer_mods/README.md
Labels: CR: Printability

#306 Mantis Dual 5015 Toolhead
  printer_mods/Long/Mantis_Dual_5015/Carriage_v1.036.stl
  printer_mods/Long/Mantis_Dual_5015/Chain_Anchor_v3.1.stl
  printer_mods/Long/Mantis_Dual_5015/Duct_v1.033.2_Left.stl
  printer_mods/Long/Mantis_Dual_5015/Duct_v1.033.2_Right.stl
  printer_mods/Long/Mantis_Dual_5015/Magprobe_Dock_Arm_v1.0.stl
  printer_mods/Long/Mantis_Dual_5015/Magprobe_Dock_Mount_v1.0.stl
  printer_mods/Long/Mantis_Dual_5015/Magprobe_Longs_v0.31.stl
  printer_mods/Long/Mantis_Dual_5015/Mount_Dragon_v1.036.stl
  printer_mods/Long/Mantis_Dual_5015/README.md
  printer_mods/Long/Mantis_Dual_5015/Readme_v1.02.pdf
  printer_mods/Long/Mantis_Dual_5015/Umbilical_mount_v2.stl
  printer_mods/Long/README.md
  printer_mods/README.md
Labels: CR: STL Issues

#313 Add DIN Rail Mount for FYSETC Spider
  printer_mods/README.md
  printer_mods/hoschi/FYSETC_Spider_DIN_Mount/IMG/bracket.jpg
  printer_mods/hoschi/FYSETC_Spider_DIN_Mount/IMG/horizontal.jpg
  printer_mods/hoschi/FYSETC_Spider_DIN_Mount/IMG/main.jpg
  printer_mods/hoschi/FYSETC_Spider_DIN_Mount/IMG/spacer.jpg
  printer_mods/hoschi/FYSETC_Spider_DIN_Mount/IMG/spacers.jpg
  printer_mods/hoschi/FYSETC_Spider_DIN_Mount/README.md
  printer_mods/hoschi/FYSETC_Spider_DIN_Mount/STEP/spider.spacer.step
  printer_mods/hoschi/FYSETC_Spider_DIN_Mount/STEP/spider_bracket_horizontal_terminal.step
  printer_mods/hoschi/FYSETC_Spider_DIN_Mount/STEP/spider_bracket_horizontal_usb.step
  printer_mods/hoschi/FYSETC_Spider_DIN_Mount/STEP/spider_bracket_vertical_terminal.step
  printer_mods/hoschi/FYSETC_Spider_DIN_Mount/STEP/spider_bracket_vertical_usb.step
  printer_mods/hoschi/FYSETC_Spider_DIN_Mount/STL/spider_bracket_horizontal_terminal.stl
  printer_mods/hoschi/FYSETC_Spider_DIN_Mount/STL/spider_bracket_horizontal_usb.stl
  printer_mods/hoschi/FYSETC_Spider_DIN_Mount/STL/spider_bracket_vertical_terminal.stl
  printer_mods/hoschi/FYSETC_Spider_DIN_Mount/STL/spider_bracket_vertical_usb.stl
  printer_mods/hoschi/FYSETC_Spider_DIN_Mount/STL/spider_spacer_x4.stl
Labels: CR: Files and Folders, CR: Readme

#315 V0 Magnetic Front Panel
  printer_mods/README.md
  printer_mods/yeri/V0_Magnetic_Front_Panel/Mounting_Plate_v2.stl
  printer_mods/yeri/V0_Magnetic_Front_Panel/Panel_Mount_v2.stl
  printer_mods/yeri/V0_Magnetic_Front_Panel/README.md
Labels: CR: Files and Folders

#266 Add V0 No-Drop Nuts
  printer_mods/README.md
  printer_mods/zruncho/V0_No_Drop_Nuts/README.md
  printer_mods/zruncho/V0_No_Drop_Nuts/cad/NoDropNut_12mm.step
  printer_mods/zruncho/V0_No_Drop_Nuts/cad/NoDropNut_15mm.step
  printer_mods/zruncho/V0_No_Drop_Nuts/cad/NoDropNut_Rear_Ext_Front_x2.step
  printer_mods/zruncho/V0_No_Drop_Nuts/cad/NoDropNut_Rear_Ext_Rear_Center_x1.step
  printer_mods/zruncho/V0_No_Drop_Nuts/cad/NoDropNut_Rear_Ext_Rear_Edge_x2.step
  printer_mods/zruncho/V0_No_Drop_Nuts/cad/NoDropNut_Side_Ext_Side_x2.step
  printer_mods/zruncho/V0_No_Drop_Nuts/images/sliced.png
  printer_mods/zruncho/V0_No_Drop_Nuts/images/z_drive_all.jpg
  printer_mods/zruncho/V0_No_Drop_Nuts/images/z_inside_corner.jpg
  printer_mods/zruncho/V0_No_Drop_Nuts/images/z_rear.jpg
  printer_mods/zruncho/V0_No_Drop_Nuts/stl/NoDropNut_12mm.stl
  printer_mods/zruncho/V0_No_Drop_Nuts/stl/NoDropNut_15mm.stl
  printer_mods/zruncho/V0_No_Drop_Nuts/stl/NoDropNut_Rear_Ext_Front_x2.stl
  printer_mods/zruncho/V0_No_Drop_Nuts/stl/NoDropNut_Rear_Ext_Rear_Center_x1.stl
  printer_mods/zruncho/V0_No_Drop_Nuts/stl/NoDropNut_Rear_Ext_Rear_Edge_x2.stl
  printer_mods/zruncho/V0_No_Drop_Nuts/stl/NoDropNut_Side_Ext_Side_x2.stl
Labels: CR: Readme

#318 Update with 3mm Panel Clips for using Printed Solid or other thicker panels on the Top Hat of V0.1
  printer_mods/LoCoCNC/3mm_tophat_panel_parts/Front_and_Rear_Midclip_3mm_Panels_x2.stl
  printer_mods/LoCoCNC/3mm_tophat_panel_parts/Left_and_Right_Midclip_3mm_Panels_x2.stl
  printer_mods/LoCoCNC/3mm_tophat_panel_parts/Lower_Corner_1_and_3_Clip_3mm_Panels_x2.stl
  printer_mods/LoCoCNC/3mm_tophat_panel_parts/Lower_Corner_2_and_4_Clip_3mm_Panels_x2.stl
  printer_mods/LoCoCNC/3mm_tophat_panel_parts/Readme.md
  printer_mods/LoCoCNC/3mm_tophat_panel_parts/Upper_Corner_1_and_3_Clip_3mm_Panels_x2.stl
  printer_mods/LoCoCNC/3mm_tophat_panel_parts/Upper_Corner_2_and_4_Clip_3mm_Panels_x2.stl
  printer_mods/README.md
Labels: Pending Question

#316 Voron2.4 cable organizers; Crydom SSR terminal guard
  printer_mods/README.md
  printer_mods/evandepol/Crydom-GN-Guard/CAD/crydom-gn-guard.scad
  printer_mods/evandepol/Crydom-GN-Guard/CAD/lightning.svg
  printer_mods/evandepol/Crydom-GN-Guard/Images/guard.png
  printer_mods/evandepol/Crydom-GN-Guard/Images/installed.jpg
  printer_mods/evandepol/Crydom-GN-Guard/README.md
  printer_mods/evandepol/Crydom-GN-Guard/STL/crydom-gn-guard.stl
  printer_mods/evandepol/Voron2.4-Cable-clamps/CAD/Combination-Clamp-and-Ramp-350mm.scad
  printer_mods/evandepol/Voron2.4-Cable-clamps/CAD/DIN-Rail-Cable-Mount-350mm.scad
  printer_mods/evandepol/Voron2.4-Cable-clamps/CAD/Edge-2020-Cable-Clamp.scad
  printer_mods/evandepol/Voron2.4-Cable-clamps/Images/annotated.jpg
  printer_mods/evandepol/Voron2.4-Cable-clamps/Images/cable-mount.png
  printer_mods/evandepol/Voron2.4-Cable-clamps/Images/combination.png
  printer_mods/evandepol/Voron2.4-Cable-clamps/Images/detail.jpg
  printer_mods/evandepol/Voron2.4-Cable-clamps/Images/dressed.jpg
  printer_mods/evandepol/Voron2.4-Cable-clamps/Images/edge-clamp.png
  printer_mods/evandepol/Voron2.4-Cable-clamps/README.md
  printer_mods/evandepol/Voron2.4-Cable-clamps/STL/Combination-Clamp-and-Ramp-350mm.stl
  printer_mods/evandepol/Voron2.4-Cable-clamps/STL/DIN-Rail-Cable-Mount-350mm.stl
  printer_mods/evandepol/Voron2.4-Cable-clamps/STL/Edge-2020-Cable-Clamp.stl
Labels: CR: Printability

#325 Added side panels
  printer_mods/README.md
  printer_mods/yeri/V0_Magnetic_Panels/Mounting_Plate_v2.stl
  printer_mods/yeri/V0_Magnetic_Panels/Panel_Mount_v2.stl
  printer_mods/yeri/V0_Magnetic_Panels/README.md
  printer_mods/yeri/V0_Magnetic_Panels/Side_Mounting_Plate.stl
  printer_mods/yeri/V0_Magnetic_Panels/Side_Panel_Mount.stl
Labels: CR: Readme, Pending Question

#320 Hartk board mount for galileo
  printer_mods/Majarspeed/Hartk_Mount_Galileo/AFB_mount.jpg
  printer_mods/Majarspeed/Hartk_Mount_Galileo/Hartk_board_mount_galileo.stl
  printer_mods/Majarspeed/Hartk_Mount_Galileo/Hartk_optional_spacer_X2.stl
  printer_mods/Majarspeed/Hartk_Mount_Galileo/README.md
  printer_mods/Majarspeed/Hartk_Mount_Galileo/hbgm.jpg
  printer_mods/Majarspeed/README.md
  printer_mods/README.md
Labels: CR: Files and Folders, CR: Readme, CR: STL Issues

#327 Add V0 Neopixel Front Bed Mount
  printer_mods/Andre/V0_Neopixel_Front_Bed_Mount/CAD/V0_Neopixel_Front_Bed_Mount.f3d
  printer_mods/Andre/V0_Neopixel_Front_Bed_Mount/Images/CAD_1.png
  printer_mods/Andre/V0_Neopixel_Front_Bed_Mount/Images/CAD_2.png
  printer_mods/Andre/V0_Neopixel_Front_Bed_Mount/Images/PIC_1.jpg
  printer_mods/Andre/V0_Neopixel_Front_Bed_Mount/Images/PIC_2.jpg
  printer_mods/Andre/V0_Neopixel_Front_Bed_Mount/README.md
  printer_mods/Andre/V0_Neopixel_Front_Bed_Mount/STL/Diffuser_x1.stl
  printer_mods/Andre/V0_Neopixel_Front_Bed_Mount/STL/Front_Bed_Mount_x1.stl
  printer_mods/README.md
Labels: Pending Question
