Repository VoronDesign/VoronUsers, pull requests merged in 2021-07, with the labels that each got.

#373 Astrodyne inlet rev b
  printer_mods/wrez/astrodyne-inlet/README.md
  printer_mods/wrez/astrodyne-inlet/images/fuses.jpg
Labels: CR: Readme

#341 Magnetic top panel
  printer_mods/Printopal/Magnetic_top_panel/Images/Magnet.jpg
  printer_mods/Printopal/Magnetic_top_panel/Images/Magnetic_top_panel.jpg
  printer_mods/Printopal/Magnetic_top_panel/Images/Split.jpg
  printer_mods/Printopal/Magnetic_top_panel/STEP/250_top_panel_asm.stp
  printer_mods/Printopal/Magnetic_top_panel/STEP/250_top_skirt_220.stp
  printer_mods/Printopal/Magnetic_top_panel/STEP/300_top_skirt_270.stp
  printer_mods/Printopal/Magnetic_top_panel/STEP/350_top_skirt_320.stp
  printer_mods/Printopal/Magnetic_top_panel/STEP/frame_corner.stp
  printer_mods/Printopal/Magnetic_top_panel/STEP/panel_corner.stp
  printer_mods/Printopal/Magnetic_top_panel/STEP/top_corner_skirt.stp
  printer_mods/Printopal/Magnetic_top_panel/STL/250_top_skirt_220.stl
  printer_mods/Printopal/Magnetic_top_panel/STL/300_top_skirt_270.stl
  printer_mods/Printopal/Magnetic_top_panel/STL/350_top_skirt_320.stl
  printer_mods/Printopal/Magnetic_top_panel/STL/frame_corner.stl
  printer_mods/Printopal/Magnetic_top_panel/STL/panel_corner.stl
  printer_mods/Printopal/Magnetic_top_panel/STL/top_corner_skirt.stl
  printer_mods/Printopal/Magnetic_top_panel/readme.md
  printer_mods/README.md
Labels: CR: Files and Folders, CR: Readme

#376 Added Articulating Raspberry Pi 7" Display Mount
  printer_mods/README.md
  printer_mods/revnull/rpi_7in_display_mount/Images/cable_flat.jpg
  printer_mods/revnull/rpi_7in_display_mount/Images/cable_vertical.jpg
  printer_mods/revnull/rpi_7in_display_mount/Images/display_flat.jpg
  printer_mods/revnull/rpi_7in_display_mount/Images/display_front.jpg
  printer_mods/revnull/rpi_7in_display_mount/Images/display_tilted.jpg
  printer_mods/revnull/rpi_7in_display_mount/Images/display_vertical.jpg
  printer_mods/revnull/rpi_7in_display_mount/Images/mount_flat.jpg
  printer_mods/revnull/rpi_7in_display_mount/Images/mount_vertical.jpg
  printer_mods/revnull/rpi_7in_display_mount/README.md
  printer_mods/revnull/rpi_7in_display_mount/STL/swing_arm_lg_a.stl
  printer_mods/revnull/rpi_7in_display_mount/STL/swing_arm_lg_b.stl
  printer_mods/revnull/rpi_7in_display_mount/STL/swing_arm_sm_x2.stl
  printer_mods/revnull/rpi_7in_display_mount/STL/voron_2.4_7in_pi_base.stl
  printer_mods/revnull/rpi_7in_display_mount/STL/voron_2.4_lcd_mount_foot_a.stl
  printer_mods/revnull/rpi_7in_display_mount/STL/voron_2.4_lcd_mount_foot_b.stl
Labels: CR: Readme

#369 "Other" V2 Idlers Mod
  printer_mods/Phalanx/Other-V2-Idlers/CAD/Other_Idler_V2.f3d
  printer_mods/Phalanx/Other-V2-Idlers/CAD/Other_Idler_V2.step
  printer_mods/Phalanx/Other-V2-Idlers/Images/Installed.jpg
  printer_mods/Phalanx/Other-V2-Idlers/Images/Installed2.jpg
  printer_mods/Phalanx/Other-V2-Idlers/Images/comparison.jpg
  printer_mods/Phalanx/Other-V2-Idlers/Images/filekey.JPG
  printer_mods/Phalanx/Other-V2-Idlers/Images/front.jpg
  printer_mods/Phalanx/Other-V2-Idlers/Images/heatset.jpg
  printer_mods/Phalanx/Other-V2-Idlers/Images/printset.JPG
  printer_mods/Phalanx/Other-V2-Idlers/README.md
  printer_mods/Phalanx/Other-V2-Idlers/STL/Front_Idler_Bottomx2.stl
  printer_mods/Phalanx/Other-V2-Idlers/STL/Front_Idler_Topx2.stl
  printer_mods/Phalanx/Other-V2-Idlers/STL/[a]_Idler_Carrierx2.stl
  printer_mods/README.md
Labels: CR: Files and Folders, CR: Readme, Pending Question

#380 V0.1 skirt mod for SSD1306 OLED
  printer_mods/README.md
  printer_mods/mpfl/V0.1_skirt_OLED/README.md
  printer_mods/mpfl/V0.1_skirt_OLED/photo.png
  printer_mods/mpfl/V0.1_skirt_OLED/v0.1-skirt-oled.scad
  printer_mods/mpfl/V0.1_skirt_OLED/v0.1-skirt-oled.stl
Labels: CR: Readme

#378 V0.1 LED Tophat Mod
  printer_mods/README.md
  printer_mods/Shteeeeeve/V01-LED-Tophat/Images/V0-LED-Tophat-Photo.jpg
  printer_mods/Shteeeeeve/V01-LED-Tophat/Images/V01-LED-Tophat-01.jpg
  printer_mods/Shteeeeeve/V01-LED-Tophat/Images/V01-LED-Tophat-02.jpg
  printer_mods/Shteeeeeve/V01-LED-Tophat/Images/V01-LED-Tophat-03.jpg
  printer_mods/Shteeeeeve/V01-LED-Tophat/Images/V01-LED-Tophat-wireframe-1.jpg
  printer_mods/Shteeeeeve/V01-LED-Tophat/README.md
  printer_mods/Shteeeeeve/V01-LED-Tophat/STEP/V01-LED-Tophat.step
  printer_mods/Shteeeeeve/V01-LED-Tophat/STLs/LED-Tophat-Logo-Insert.stl
  printer_mods/Shteeeeeve/V01-LED-Tophat/STLs/LED-Tophat-Main-Body.stl
  printer_mods/Shteeeeeve/V01-LED-Tophat/STLs/LED-Tophat-Top-Cover.stl
Labels: CR: Files and Folders, CR: Readme

#371 V1 3z mod
  printer_mods/README.md
  printer_mods/yeri/V1_3Z/Config/Z_TILT_ADJUST_250.cfg
  printer_mods/yeri/V1_3Z/Config/Z_TILT_ADJUST_300.cfg
  printer_mods/yeri/V1_3Z/DXF/deck_panel_250.dxf
  printer_mods/yeri/V1_3Z/DXF/deck_panel_300.dxf
  printer_mods/yeri/V1_3Z/README.md
  printer_mods/yeri/V1_3Z/STL/Bottom_Panel_Cutout_Cover.stl
  printer_mods/yeri/V1_3Z/STL/Bottom_Panel_Cutout_Cover_2_Color.stl
  printer_mods/yeri/V1_3Z/STL/Z_Bed_Mount_Front.stl
  printer_mods/yeri/V1_3Z/STL/Z_Bed_Mount_Rear.stl
  printer_mods/yeri/V1_3Z/STL/Z_Motor_Mount_Front.stl
  printer_mods/yeri/V1_3Z/STL/Z_Motor_Mount_Rear.stl
  printer_mods/yeri/V1_3Z/images/Top_rod_attachment.jpg
  printer_mods/yeri/V1_3Z/images/bed_mount.jpg
  printer_mods/yeri/V1_3Z/images/bed_mount_installed.jpg
  printer_mods/yeri/V1_3Z/images/final_installation_view.jpg
  printer_mods/yeri/V1_3Z/images/full_assembly.jpg
  printer_mods/yeri/V1_3Z/images/installed_view.jpg
  printer_mods/yeri/V1_3Z/images/motor_mount_installation.jpg
  printer_mods/yeri/V1_3Z/images/motor_mount_installed.jpg
Labels: CR: Printability
