Repository VoronDesign/VoronUsers, pull requests merged in 2021-08, with the labels that each got.

#388 Adafruit NeoPixel mounts for V0
  printer_mods/QuackProfit/V0-Adafruit-Y_Rails/README.md
  printer_mods/QuackProfit/V0-Adafruit-Y_Rails/body-left.stl
  printer_mods/QuackProfit/V0-Adafruit-Y_Rails/body-right.stl
  printer_mods/QuackProfit/V0-Adafruit-Y_Rails/cover-left.stl
  printer_mods/QuackProfit/V0-Adafruit-Y_Rails/cover-right.stl
  printer_mods/QuackProfit/V0-Adafruit-Y_Rails/images/design.jpg
  printer_mods/QuackProfit/V0-Adafruit-Y_Rails/images/installed.jpg
  printer_mods/QuackProfit/V0-Adafruit-Y_Rails/images/wired.jpg
  printer_mods/README.md
Labels: CR: Readme

#389 Voron 2.4 USB Camera Mount
  printer_mods/README.md
  printer_mods/Takuya/USBCameraMount/ReadMe.md
  printer_mods/Takuya/USBCameraMount/Screenshot_4.jpg
  printer_mods/Takuya/USBCameraMount/VoronCamMount.f3d
  printer_mods/Takuya/USBCameraMount/VoronCamMount.step
  printer_mods/Takuya/USBCameraMount/VoronCamMount.stl
Labels: CR: Readme

#397 Bed Wiring Grommet for Voron 2.4
  printer_mods/LoCoCNC/wire_grommets/Grommet_2.stl
  printer_mods/LoCoCNC/wire_grommets/Grommet_3.stl
  printer_mods/LoCoCNC/wire_grommets/Grommet_4.stl
  printer_mods/LoCoCNC/wire_grommets/grommet_1.stl
  printer_mods/LoCoCNC/wire_grommets/images/chamber_side.jpg
  printer_mods/LoCoCNC/wire_grommets/images/elec_bay_side.jpg
  printer_mods/LoCoCNC/wire_grommets/readme.md
  printer_mods/README.md
Labels: CR: Git issues

#375 Vertical PSU Mount
  printer_mods/README.md
  printer_mods/madfabrications/Vertical_PSU_Mount/PsuMountBottom.stl
  printer_mods/madfabrications/Vertical_PSU_Mount/PsuMountSpring.stl
  printer_mods/madfabrications/Vertical_PSU_Mount/README.md
Labels: CR: Files and Folders, CR: Readme

#400 added SW Fan Mount Mode
  printer_mods/README.md
  printer_mods/csch0/SW_FanMount_No_Tape/Images/installed.jpg
  printer_mods/csch0/SW_FanMount_No_Tape/Images/parts.jpg
  printer_mods/csch0/SW_FanMount_No_Tape/README.md
  printer_mods/csch0/SW_FanMount_No_Tape/STLs/mount.stl
  printer_mods/csch0/SW_FanMount_No_Tape/STLs/mount_mirror.stl
Labels: CR: Readme

#405 Magnetic Panels
  printer_mods/README.md
  printer_mods/bobbleheed/Magnetic_Panels/CAD/Magnetic_Panel_Corner_Clips_6mm.f3d
  printer_mods/bobbleheed/Magnetic_Panels/IMAGES/Cap_Assembly.png
  printer_mods/bobbleheed/Magnetic_Panels/IMAGES/Final_Assembly.png
  printer_mods/bobbleheed/Magnetic_Panels/IMAGES/Mount_Assembly.png
  printer_mods/bobbleheed/Magnetic_Panels/README.md
  printer_mods/bobbleheed/Magnetic_Panels/STL/Magnetic_Cap_6mm.stl
  printer_mods/bobbleheed/Magnetic_Panels/STL/Magnetic_Mount_6mm.stl
Labels: CR: Printability

#410 Added a Klipper configuration and wiring diagram for the V1.8 using a…
  firmware_configurations/README.md
  firmware_configurations/klipper/jaeger/Spider_1.1_V1.8/Voron_1_Spider_11_Config.cfg
  firmware_configurations/klipper/jaeger/Spider_1.1_V1.8/Voron_1_Spider_11_Wiring.png
  firmware_configurations/klipper/jaeger/Spider_1.1_V1.8/readme.md
Labels: CR: Readme
