Repository VoronDesign/VoronUsers, pull requests merged in 2021-04, with the labels that each got.

#276 SKR PRO DIN Mount
  printer_mods/MrBean66/SKR_PRO_Mount/README.md
  printer_mods/MrBean66/SKR_PRO_Mount/SKR_PRO_DIN_Mount.stl
  printer_mods/MrBean66/SKR_PRO_Mount/SKR_PRO_Example.png
  printer_mods/MrBean66/SKR_PRO_Mount/Stretched_DIN_Clamp.stl
  printer_mods/README.md
Labels: CR: Files and Folders, CR: Readme

#279 Add WaveShare 5.5inch HDMI AMOLED mod for Voron 2.4
  printer_mods/README.md
  printer_mods/sttts/Waveshare-5.5-inch-HDMI-AMOLED/CAD/Waveshare-5.5.f3z
  printer_mods/sttts/Waveshare-5.5-inch-HDMI-AMOLED/Images/fusion-back.png
  printer_mods/sttts/Waveshare-5.5-inch-HDMI-AMOLED/Images/fusion-front.png
  printer_mods/sttts/Waveshare-5.5-inch-HDMI-AMOLED/Images/photo.jpeg
  printer_mods/sttts/Waveshare-5.5-inch-HDMI-AMOLED/README.md
  printer_mods/sttts/Waveshare-5.5-inch-HDMI-AMOLED/STLs/Voron-2.4-Mount-Generisch-v6.stl
  printer_mods/sttts/Waveshare-5.5-inch-HDMI-AMOLED/STLs/WaveShare-5.5-cover.stl
Labels: CR: Printability

#290 Brace for SKR mounts on V2.4
  printer_mods/README.md
  printer_mods/teookie/skr_brace/cad1.png
  printer_mods/teookie/skr_brace/pic1.png
  printer_mods/teookie/skr_brace/pic2.jpg
  printer_mods/teookie/skr_brace/pic3.png
  printer_mods/teookie/skr_brace/readme.md
  printer_mods/teookie/skr_brace/skr_brace.step
  printer_mods/teookie/skr_brace/skr_brace.stl
Labels: CR: Readme

#277 V0.0 skirt set (SSR, PowerSwitch, Nameplate and color change printing)
  printer_mods/README.md
  printer_mods/Zen3D/V0_Skirt/IMG/img1.jpg
  printer_mods/Zen3D/V0_Skirt/IMG/img2.jpg
  printer_mods/Zen3D/V0_Skirt/IMG/img3.jpg
  printer_mods/Zen3D/V0_Skirt/IMG/img5.jpg
  printer_mods/Zen3D/V0_Skirt/IMG/img6.jpg
  printer_mods/Zen3D/V0_Skirt/IMG/img7.jpg
  printer_mods/Zen3D/V0_Skirt/IMG/img8.jpg
  printer_mods/Zen3D/V0_Skirt/README.md
  printer_mods/Zen3D/V0_Skirt/Skirt.stl
  printer_mods/Zen3D/V0_Skirt/Skirt_EmptyNameplate.stl
  printer_mods/Zen3D/V0_Skirt/Skirt_PowerSwitch.stl
  printer_mods/Zen3D/V0_Skirt/Skirt_mirror.stl
  printer_mods/Zen3D/V0_Skirt/Skirt_ssr.stl
Labels: CR: Readme

#297 Added my sub-folder and two files to help people shim their MGN7H bearing cartridges.
  printer_mods/LoCoCNC/MGN7H_Shims/mgn7_spacer_2.stl
  printer_mods/LoCoCNC/MGN7H_Shims/mgn7_spacer_3.stl
  printer_mods/LoCoCNC/MGN7H_Shims/readme.md
  printer_mods/README.md
Labels: CR: Files and Folders, CR: Readme, CR: STL Rotation
